<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1>Service Manager</h1>
		<a href="new">Create new Service</a>
		<table border="1">
			<thead>
				<tr>
					<th>Service id</th>
					<th>Name</th>
					<th>Category</th>
					<th>Price</th>
					<th>Images</th>
					<th>Status</th>
					<th>Description</th>
					<th>discount</th>
					<th>Action</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="services : ${listServices}">
					<td th:text="${services.id}">Service id</td>
					<td th:text="${services.name}">name</td>
					<td th:text="${services.cate}">cate</td>
					<td th:text="${services.price}">price</td>
					<td th:text="${services.images}">images</td>
					<td th:text="${services.status}">Status</td>
					<td th:text="${services.description}">de</td>
					<td th:text="${services.discount}">di</td>
					<td>
						<a th:href="@{'/edit/' + ${services.id}}">edit</a>
					</td>
					<td>
						<a th:href="@{'/delete/' + ${services.id}}">delte</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>