<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create new</title>
</head>
<body>
	<div align="center">
		<h1>Create new service</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${services}" method="post">
			<table border="0">
				<tr>
					<td>Service name</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Category id</td>
					<td><input type="text" th:field="*{cate}" /></td>
				</tr>
				<tr>
					<td>price</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>images</td>
					<td><input type="text" th:field="*{images}" /></td>
				</tr>
				<tr>
					<td>status</td>
					<td><input type="checkbox" th:field="*{status}" /></td>
				</tr>
				<tr>
					<td>descript</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td>discount</td>
					<td><input type="text" th:field="*{discount}" /></td>
				</tr>
				<tr>
					<td><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>